<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charSet="utf-8" />
<title>iCS Discover&#x27;s AI Generated Images, Videos and
	Chatbot</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<meta name="author" content="ICS Discover by Mohammed Monirul Islam">
<link rel="ICS Discover Icon"
	href="https://aiweb-icsdiscover.vercel.app/favicon.ico" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/site.css}" />
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
	integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
	crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>
</head>
<body background="https://aiweb-icsdiscover.vercel.app/images/ai.jpg">
	<div>
		<header>
			<nav
				class="navbar navbar-expand-lg navbar-dark justify-content-between sticky-top fs-4"
				role="navigation">
				<div class="container-fluid">
					<a class="navbar-brand mx-2" href="#"><img
						src="https://aiweb-icsdiscover.vercel.app/favicon.ico"
						alt="ICS Discover Logo" width="30%"
						class="border border-primary rounded" /></a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end"
						id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto text-nowrap">
							<li class="nav-item"><a class="nav-link"
								href="https://www.youtube.com/channel/UCLZnGghxjldvhQSnno47Olw"
								target="_new">Tutorials</a></li>
							<li class="nav-item"><a class="nav-link"
								href="https://github.com/lalumastan"
								target="_new">Github</a></li>								
							<li class="nav-item"><a class="nav-link"
								href="https://www.linkedin.com/in/mohammed-islam-57264235"
								target="_new">Linkedin</a></li>
							<li class="nav-item"><a class="nav-link"
								href="mailto:lalumastan@gmail.com">Contact</a></li>
							<li class="nav-item"><a class="nav-link"
								href="https://www.youtube.com/@icsdiscover/about" target="_new">About</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container my-3">
			<div id="loading" class="text-bg-primary text-center rounded"></div>
			<div id="chatGPTConversation"
				class="row my-3 border border-info rounded overflow-auto bg-dark"></div>
			<div class="row alert alert-info border border-info">
				<h2 class="text-center text-primary">iCS Discover&#x27;s
					ChatGPT Chatbot</h2>
				<form id="chatGPTForm" class="form-ai" encType="multipart/form-data"
					th:object="${chatGPTBean}" th:action="@{/chat}" method="post">
					<h6 class="m-3" th:utext="${chatGPTBean.title}"></h6>
					<div class="form-floating mx-3">
						<textarea class="form-control border border-info" name="prompt"
							placeholder="Enter your question" id="prompt"
							style="height: 100px" th:field="*{prompt}" required></textarea>
						<label for="prompt">Enter your question</label>
					</div>
					<br />
					<div class="text-center">
						<button id="submitChatGPT"
							class="btn btn-lg btn-primary text-center" type="submit">Chat!</button>
					</div>
				</form>
			</div>
		</div>
		<footer>
			<div class="container text-white fw-bold">
				<p align="center">© 2023 by ICS Discover</p>
			</div>
		</footer>
	</div>
	<script type="text/javascript">
	
	// When DOM is loaded this 
    // function will get executed
    $(() => {handleClick()});
        
	</script>
</body>
</html>